@import '../../../styles/colors.scss';

.additional {
    color:  $accent-color;
    margin-left: 96px;

    p {
        margin: 0
    }

    &-sun {
        display: flex;

    }

    &-sunset {
        margin-left: 56px;

       
    }

    &-time {
        font-size: 24px;
    }

}