@import "./../../styles/colors";

.left-container {
  background-color: #132a40;
  flex: 1;
  padding: 10% 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--title {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h1 {
    color: $base-color;
    letter-spacing: 2px;
    font-weight: 100;
    font-size: 32px;
    margin-bottom: 0px;
    text-align: center;
    margin: 0;
    margin-right: 16px;
  }

  &--toggle {
    display: flex;
    align-items: center;
  }

  p {
    line-height: 36px;
    font-size: 24px;
    color: $base-color;
    margin: 0 8px;
  }

  .underlined {
    text-decoration: underline;
  }
}
